/* tbody{
    background-image: url("C:.\xampp\htdocs\SE_CAMP\images\jell55556.jpg");
} */
h1{
    color: crimson;
}

/* .b{
    background-image: url("C:.\xampp\htdocs\SE_CAMP\images\jell55556.jpg");
    } */