h1{

    color: #ff0000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
}
table{
    color: #ff0000;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}